# What are the top 5 zipcodes in the US that a real estate firm should invest in?

## Questions to consider from Julian: 
- how do we want to briing things together? pool zip codes together, make a general model trained on all zipcodes & tested on one of the zipcode

- we can do arima modelss & control for staionarity, but are we going to put anything else into it? are there other data points in the date we have to make our predictions better

- trainn test split --> cut off a year or two or three

- suggestions: bin zip codes? maybe by state, by urban or suburban or by metro area now maybe join the mini zip codes!! specify which zip code is which justify it! these are the largest/most urban zips in the dataset

- note: there is value in just a forecast, we can assume you are already invested in this zip code and what should they do?

- we could grouby for the metro areas

# Imports and Load in Data

In [1]:
import pandas as pd
import numpy as np 
import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [8]:
#read in data
df = pd.read_csv('zillow_data.csv')
df.head(30)

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500
5,91733,77084,Houston,TX,Houston,Harris,6,95000.0,95200.0,95400.0,...,157900,158700,160200,161900,162800,162800,162800,162900,163500,164300
6,61807,10467,New York,NY,New York,Bronx,7,152900.0,152700.0,152600.0,...,394400,400000,407300,411600,413200,414300,413900,411400,413200,417900
7,84640,60640,Chicago,IL,Chicago,Cook,8,216500.0,216700.0,216900.0,...,798000,787100,776100,774900,777900,777900,778500,780500,782800,782800
8,91940,77449,Katy,TX,Houston,Harris,9,95400.0,95600.0,95800.0,...,166800,167400,168400,169600,170900,172300,173300,174200,175400,176200
9,97564,94109,San Francisco,CA,San Francisco,San Francisco,10,766000.0,771100.0,776500.0,...,3767700,3763900,3775000,3799700,3793900,3778700,3770800,3763100,3779800,3813500
10,62037,11226,New York,NY,New York,Kings,11,162000.0,162300.0,162600.0,...,860200,851000,853900,870000,885100,887800,890500,901700,930700,963200
11,71831,32162,The Villages,FL,The Villages,Sumter,12,101000.0,100700.0,100400.0,...,249900,250400,249900,248700,247500,247100,246800,247500,249800,251800
12,62087,11375,New York,NY,New York,Queens,13,252400.0,251800.0,251400.0,...,1022600,1033700,1048600,1066400,1081200,1088800,1092700,1089500,1084000,1084600
13,62045,11235,New York,NY,New York,Kings,14,190500.0,191000.0,191500.0,...,767300,777300,788800,793900,796000,799700,806600,810600,813400,816200
14,74101,37013,Nashville,TN,Nashville,Davidson,15,112400.0,112700.0,113000.0,...,193000,194900,196600,198800,201300,203800,205900,207600,210000,211900
15,96107,90250,Hawthorne,CA,Los Angeles-Long Beach-Anaheim,Los Angeles,16,152500.0,152600.0,152600.0,...,579300,585700,590900,594700,598500,601300,602800,606100,612400,616200
16,84646,60647,Chicago,IL,Chicago,Cook,17,122700.0,122800.0,122800.0,...,459600,461400,464300,466500,467900,470600,474500,475100,472600,470200
17,74242,37211,Nashville,TN,Nashville,Davidson,18,97900.0,98000.0,98200.0,...,243100,245000,246700,248800,251100,253900,256500,259000,262100,264200
18,92593,78660,Pflugerville,TX,Austin,Travis,19,138900.0,138600.0,138400.0,...,235000,235900,236600,237400,238500,239400,240000,241000,242200,242800
19,84620,60618,Chicago,IL,Chicago,Cook,20,142600.0,143100.0,143400.0,...,462700,461200,459900,459200,458700,457900,457400,459000,462500,464300
20,61625,10011,New York,NY,New York,New York,21,NaN,NaN,NaN,...,12137600,12112600,12036600,12050100,12016300,11946500,11978100,11849300,11563000,11478300
21,61703,10128,New York,NY,New York,New York,22,3676700.0,3704200.0,3729600.0,...,7410100,7422400,7417600,7427300,7371400,7342700,7353300,7350300,7363000,7386600
22,92036,77573,League City,TX,Houston,Galveston,23,141400.0,141000.0,140600.0,...,249800,251300,252300,252400,252300,253100,254700,257100,259800,261400
23,92045,77584,Pearland,TX,Houston,Brazoria,24,138500.0,138700.0,139200.0,...,249100,249900,250500,250700,251000,251400,251900,253200,255100,256500
24,69816,28269,Charlotte,NC,Charlotte,Mecklenburg,25,126100.0,126600.0,127100.0,...,184700,186600,188200,189800,191700,193500,195100,196600,198500,199700
25,93123,79912,El Paso,TX,El Paso,El Paso,26,119700.0,119700.0,119800.0,...,183200,183700,184500,185300,185300,184700,184800,185900,187200,188100
26,92515,78572,Mission,TX,McAllen,Hidalgo,27,69900.0,69700.0,69600.0,...,99800,100300,100300,100100,100000,100100,99700,100200,102100,103900
27,97771,94565,Pittsburg,CA,San Francisco,Contra Costa,28,139200.0,138300.0,137500.0,...,394900,398400,401600,405400,408600,410900,413700,417900,424300,430100
28,71067,30349,Riverdale,GA,Atlanta,Clayton,29,90900.0,91100.0,91200.0,...,118700,119900,121400,122900,123800,124600,126200,127300,127700,128100
29,66126,20002,Washington,DC,Washington,District of Columbia,30,94300.0,94000.0,93700.0,...,662800,668000,672200,673100,674600,678200,680900,683000,687500,691300

# Check Data for Null Values

In [7]:
df['City'].value_counts()

New York       114
Los Angeles     95
Houston         88
San Antonio     48
Washington      45
              ...
Point            1
Wartburg         1
Dade City        1
Chewelah         1
Manteo           1
Name: City, Length: 7554, dtype: int64

In [3]:
df['City'].isna().value_counts()

False    14723
Name: City, dtype: int64

In [ ]:
df['State'].isna().value_counts()

In [ ]:
#will probably want to drop these nulls since the number of values thatt are missing is not a huge portion of the data, we should be able to drop them without any major issues
df['Metro'].isna().value_counts()

In [ ]:
df['CountyName'].isna().value_counts()

In [ ]:
df['SizeRank'].isna().value_counts()

In [ ]:
#we have some missing here too
df['1996-04'].isna().value_counts()

In [ ]:
df['1996-05'].isna().value_counts()

In [ ]:
df['1996-06'].isna().value_counts()

In [ ]:
# it looks like we might have the same missing values for all the years
df['1996-07'].isna().value_counts()

In [ ]:
df['2000-02'].isna().value_counts()

In [ ]:
#hmmm or maybe not 
df['2018-01'].isna().value_counts()

In [ ]:
#so now we can see we have a lot of null values for past years and the Metro column; we can go ahead and drop them since roughly 1050 values out of 13700 is not a huge portion
pd.options.display.min_rows = 272

df.isnull().sum().sort_values(ascending=False)

In [ ]:
#let's go ahead and drop all the null values 
df = df.copy()
df.dropna(inplace = True)

In [ ]:
#awesome, now that our nulls are gone we can go ahead and filter for the 10% of zipcodes with respect to size_rank 
sr_10 = df.SizeRank.quantile(q=.10)
zip_5 = df[df['SizeRank']<sr_10]
zip_5.head()

# Lets try binning things by Metro/Zip/SizeRank"?

In [ ]:
df['Metro'].value_counts()
#looks like there are over 600 unique Metro areas .... i'm not sure how we go about binning these


# Convert  Date Columns  to Date Time Objects

In [9]:
def get_datetimes(df):
    """
    Takes a dataframe:
    returns only those column names that can be converted into datetime objects 
    as datetime objects.
    NOTE number of returned columns may not match total number of columns in passed dataframe
    """
    
    
    return pd.to_datetime(df.columns.values[7:], format='%Y-%m')

In [10]:
#converting the dataframe without nulls to datetime
get_datetimes(df)

DatetimeIndex(['1996-04-01', '1996-05-01', '1996-06-01', '1996-07-01',
               '1996-08-01', '1996-09-01', '1996-10-01', '1996-11-01',
               '1996-12-01', '1997-01-01',
               ...
               '2017-07-01', '2017-08-01', '2017-09-01', '2017-10-01',
               '2017-11-01', '2017-12-01', '2018-01-01', '2018-02-01',
               '2018-03-01', '2018-04-01'],
              dtype='datetime64[ns]', length=265, freq=None)

In [11]:
 df.head()

,RegionID,RegionName,City,State,Metro,CountyName,SizeRank,1996-04,1996-05,1996-06,...,2017-07,2017-08,2017-09,2017-10,2017-11,2017-12,2018-01,2018-02,2018-03,2018-04
0,84654,60657,Chicago,IL,Chicago,Cook,1,334200.0,335400.0,336500.0,...,1005500,1007500,1007800,1009600,1013300,1018700,1024400,1030700,1033800,1030600
1,90668,75070,McKinney,TX,Dallas-Fort Worth,Collin,2,235700.0,236900.0,236700.0,...,308000,310000,312500,314100,315000,316600,318100,319600,321100,321800
2,91982,77494,Katy,TX,Houston,Harris,3,210400.0,212200.0,212200.0,...,321000,320600,320200,320400,320800,321200,321200,323000,326900,329900
3,84616,60614,Chicago,IL,Chicago,Cook,4,498100.0,500900.0,503100.0,...,1289800,1287700,1287400,1291500,1296600,1299000,1302700,1306400,1308500,1307000
4,93144,79936,El Paso,TX,El Paso,El Paso,5,77300.0,77300.0,77300.0,...,119100,119400,120000,120300,120300,120300,120300,120500,121000,121500

# Reshape from Wide to Long Format

In [12]:


def melt_data(df):
    """
    Takes the zillow_data dataset in wide form or a subset of the zillow_dataset.  
    Returns a long-form datetime dataframe 
    with the datetime column names as the index and the values as the 'values' column.
    
    If more than one row is passes in the wide-form dataset, the values column
    will be the mean of the values from the datetime columns in all of the rows.
    """
    
    melted = pd.melt(df, id_vars=['RegionName', 'RegionID', 'SizeRank', 'City', 'State', 'Metro', 'CountyName'], var_name='time')
    melted['time'] = pd.to_datetime(melted['time'], infer_datetime_format=True)
    melted = melted.dropna(subset=['value'])
    return melted.groupby('time').aggregate({'value':'mean'})

In [13]:
#first we will make individual dataframes for each zipcode area 
melt_data(df)

                    value
time
1996-04-01  118299.123063
1996-05-01  118419.044139
1996-06-01  118537.423268
1996-07-01  118653.069278
1996-08-01  118780.254312
...                   ...
2017-12-01  281095.320247
2018-01-01  282657.060382
2018-02-01  284368.688447
2018-03-01  286511.376757
2018-04-01  288039.944305

[265 rows x 1 columns]

In [ ]:
#merge melted dataframe and raw/original dataframe together